.slide img {
    border-radius: 0 !important;
}

.slideshow-container {
    position: relative;
    height: 400px;
    margin: 0;
    padding: 0;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    margin: 0;
    padding: 0;
}

.slide:first-child {
    display: block;
}

.slide img {
    width: 100%;
    height: inherit;
    object-fit: cover;
    padding: 0;
    margin: 0;
}